@charset "UTF-08";

body{
    background-color: rgba(209, 235, 226, 0.39);
    font-family: Arial, Helvetica, sans-serif;
}
h1#principal{
    background-color: aquamarine;
    color: black
}
h1{
    color: rgb(26, 167, 185);
}
h2{
    color: rgb(81, 199, 160);
}
p{
    text-indent: 15px;
}
.basico{
    color: rgb(85, 199, 81);
}

.intermediario{
    color: rgba(177, 199, 81, 0.658);
}

.avancado{
    color: rgba(199, 81, 81, 0.616);
}

.destaque{
    background-color: rgba(199, 81, 193, 0.39);
}